/** Modificações gerais **/
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    color: white;
    font-size: 26px;
}

/** Header e Footer **/
header, footer{
    background-color: rgba(10,10,10,1);
    /* padding: 16px; */
}

header {
    position: sticky;
    top: 0;
}

header .alinhado{
    text-align: right;
}

footer .alinhado{
    text-align: left;
}

.alinhado ul li{
    display: inline-flex;
    list-style: none;
    padding: 4px;
}

.alinhado ul li:hover{
    background-color: rgba(5,5,5,0.8);
}

/** Tags especificas, ou temporarias **/

a{
    text-decoration: none;
    color: white;
    cursor: default;
}

main {
    height: 2000px;
}